.page {
  background-color: #2a2c2f;
  color: #ffffff;
  font-weight: 400;
  max-width: 1184px;
  min-height: 100vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}
