.header {
  display: flex;
  margin: 0 48px 0 48px;
  max-height: 52px;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .header {
    margin: 0 24px 0 24px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    margin: 0 16px 0 16px;
    max-height: 42px;
  }
}
