.content {
  display: grid;
  row-gap: 92px;
  margin: 0 auto;
}

@media screen and (max-width: 990px) {
  .content {
    row-gap: 88px;
  }
}

@media screen and (max-width: 720px) {
  .content {
    gap: 64px;
  }
}
