.lead__subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 16px auto 64px auto;
  max-width: 640px;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 1100px) {
  .lead__subtitle {
    margin: 16px auto 56px auto;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    margin: 8px auto 64px auto;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}
