.lead__caption {

  font-size: 10px;
  line-height: 14px;
  align-self: start;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;

}

@media screen and (max-width: 950px) {
  .lead__caption {
    margin: 8px 24px 0;
  }
}

@media screen and (max-width: 500px) {
  .lead__caption {
    margin: 8px 16px 0;
  }
}
